body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  background: #222;
  padding: 10px;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.page {
  padding: 20px;
}

table {
  width: 300px;
  border-collapse: collapse;
}

td {
  border: 1px solid #aaa;
  padding: 8px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;

}

.edit-form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.edit-form input {
  margin-bottom: 10px;
  padding: 6px;
}

button {
  padding: 8px;
  background: #222;
  color: white;
  border: none;
  cursor: pointer;
}
